.badge {
  display: inline-block;
  width: 8rem;
  padding: 0.15rem 0.6rem;
  border-radius: 6px;
  font-family: var(--ifm-font-family-monospace);
  font-size: 0.8em;
  font-weight: 600;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
